{% extends "base.html" %}
{% block title %}Submission list{% endblock %} 
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Enrollment System</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
    <div class="container-sm">
      <h2 class="mb-4">Submission List</h2>
      <a href="{% url 'submission_add' %}"  class="button-link">Add Submission</a>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Assignemnt</th>
            <th scope="col">Student</th>
            <th scope="col">Submission File</th>
            <th scope="col">Submission At</th>
            <th scope="col">Score</th>
            <th scope="col">Submission File</th>
            <th scope="col">Graded At</th>
            <th scope="col">Feedback</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for sb in submission %}
          <tr>
            <td>{{ sb.id }}</td>
            <td>{{ sb.assignment }}</td>
            <td>{{ sb.submission_file }}</td>
            <td>{{ sb.submission_at }}</td>
            <td>{{ sb.score }}</td>
            <td>{{ sb.graded_at }}</td>
            <td>{{ sb.feedback }}</td>
             <td>
              <a href="{% url 'submission_edit' submission.id %} "class="button-link button-sm">Edit</a>
              <a href="{% url 'submission_delete' submission.id %} " class="button-link button-sm delete-btn">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
{% endblock content %}