<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>{% block title %}Enroll System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="navbar">
      <div class="left">POS</div>
      <div class="center">
        <a href="{% url 'dashboard_home' %}">Dashboard</a>
        <a href="{% url 'student_list' %}">Student</a>
        <a href="{% url 'course_list' %}">Course</a>
        <ul>
         <li><a href="{% url 'lesson_list' %}">Lessons</a></li>
         <li><a href="{% url 'lesson_progress_list' %}">Lesson Progress</a></li>
         <li><a href="{% url 'assignment_list' %}">Assignments</a></li>
         <li><a href="{% url 'submission_list' %}">Submissions</a></li>
         <li><a href="{% url 'review_list' %}">Reviews</a></li>
         </ul>
        <a href="{% url 'tag_list' %}">Tag</a>
        <a href="{% url 'instructor_list' %}">Instructor</a>
        <a href="{% url 'category_list' %}">Category</a>
        <a href="{% url 'employee_list' %}">Employee</a>
        <a href="{% url 'enrollment_list' %}">Enrollment</a>
        <a href="{% url 'user_list' %}">User</a>

      </div>
      <div class="right">
         <a href="{% url 'logout' %}">Logout</a>
      </div>
    </div>

    <div class="container">{% block content %}{% endblock %}</div>
  </body>
</html>